html {
    background-color: #212121;
    color: #cfcfcf;
    font-family: monospace;
}
#logo {
    padding-left: 5px;
}

#menubar {
    height: auto; /* Adjust height automatically */
    background-color: black;
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    align-items: center; /* Center-align children vertically */
    font-size: xx-large;
    border-radius: 10px;
}

#menubar a {
    color: #cfcfcf;
    text-decoration: none;
    padding-left: 30px;
    white-space: nowrap; /* Prevent text wrapping inside links */
}

#menubar a:hover {
    color: #a8a8a8;
}

#menubar a:active {
    color: #828282;
}

#homenote {
    font-size: 25px;
}

#abt {
    width: 50%;
    text-align: center;
    font-size: x-large;
    padding-left: 25%;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: x-large;
}

a {
    color: deepskyblue;
}

li {
    text-align: center;
    font-size: x-large;
}

#counter{
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    font-size: large; /* Optional, adjust based on your design */
}
    
@media screen and (min-width: 480px) and (max-width: 960px) {
    #menubar {
        flex-wrap: wrap; /* Ensure wrapping happens */
    }
    #menubar a:last-child {
        flex-basis: 100%; /* Make the last link take the full row */
        text-align: left; /* Align text to the left */
        padding-left: calc(30px + 5px + 50px); /* Match the x-position of the first link */
        padding-bottom: 13px;
    }
    #abt {
        width: 50%;
        text-align: center;
        font-size: x-large;
        padding-left: 12.5%;
    }
}
@media screen and (min-width: 100px) and (max-width: 480px) {
    #menubar {
        flex-wrap: wrap; /* Ensure wrapping happens */
    }
    #menubar a:nth-last-child(2), #menubar a:last-child {
        flex-basis: 100%; /* Make the last link take the full row */
        text-align: left; /* Align text to the left */
        padding-left: calc(30px + 5px + 50px); /* Match the x-position of the first link */
        padding-bottom: 13px;
    }
    #abt {
        width: 50%;
        text-align: center;
        font-size: x-large;
        padding-left: 2%;
    }
}
